@import '../../index.sass'

.Header
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25)
  padding: 0.625rem 0px 0px 0px
  font-weight: 600

  &__container
    display: flex
    justify-content: space-between
    align-items: center

  &__logo
    padding-bottom: 0.625rem
    margin: 1.5rem 0px 0px 78px 

    img
      height: 48px
  
    p
      text-align: center
      margin: 0


  &__title
    min-width: 50%
    margin: 0px 1rem

        
  &__userItems
    margin-right: 7.2rem
  
    a
      display: flex
      align-items: center
      margin-right: 1em
      text-decoration: none
      color: #707070
      cursor: pointer

      &:hover
        text-decoration: underline

    span
      margin-left: 1.5rem
      font-size: 40px
      color: $secondary-color
      


  &__highlighter
    width: 100%
    height: 10px
    background-color: $primary-color