@import '../../index.sass'

.Sidebar__button
  width: 49.8%
  max-width: 240px
  height: 100%
  background-color: $primary-color
  // color: $light-background
  border-style: none
  outline: none

  a
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    font-size: 14px
    text-decoration: none
    color: $light-background

    .material-icons
      margin-right: 5px
      font-size: 18px
    
    p
      &:hover
        text-decoration: underline

  &:hover
    background-color: $dark-primary-color
    cursor: pointer

@media (min-width: $small-breakpoint)
  .Sidebar__button
    margin-right: 2px

@media (min-width: $mid-breakpoint)
  .Sidebar__button
    max-height: 9vh
    width: 100%
    margin-top: 20px
    margin-right: 0

@media (min-width: 1344px)
  .Sidebar__button
    max-width: none
    border-radius: 40px

    a
      flex-wrap: wrap   
      font-size: 20px
      .material-icons
        margin-right: 10px
        font-size: 28px
